@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  background: #263859;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#temp {
  text-align: center;
}

#temp, #temp-unit {
  font-size: 1.5rem;
  color: #fff;
}

#temp, #temp-value {
  font-size: 2rem;
  color: #fff;
}

#climate {
  font-size: 2.5rem;
  color: #fff;
}

#location {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

#temp-icon {
  margin: 1rem;
  width: 40%;
  height: auto;
}

main {
  padding: 20px;
  margin-top: 10px;
  background-color: #6b778b;
  width: 360px;
  height: 360px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px rgba(112, 102, 102, 0.5);
}

#search-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  border: 2px solid #494949;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4 ease 0s;
}

#search-button:hover {
  color: #fff;
  background: #ff6768;
  border: 2px solid #ff6768;
  transition: all 0.4 ease 0s;
}

#search-input {
  width: 260px;
  overflow: hidden;
  font-size: 20px;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 3px solid #ff6768;
  color: white;
  outline: none;
  background: none;
}

input {
  border: none;
}




